<div class="jumbotron center">
<h2>Welcome to the </h2>
<h1>ZCode Contract Manager</h1>
	<% if user_signed_in? %>
          Holding Spot for stuff.
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>